body {
    font-family: sans-serif, Arial, Helvetica !important;
    min-height: 100%
    /* font-weight: 700;
    font-size: 1.2rem; */
}

html {
    height: 100%
}


/* .fourIcon {
    width: 2.5rem;
    height: 2.5rem;
    place-content: center;
    border-radius: 100%;
    font-size: 1.4rem;
    color: black;
    background-color: white;
} */